<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- يسمح بالإنترنت أثناء التطوير -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- يسمح بالاتصال بـ Laravel عبر HTTP في نسخة Debug فقط -->
    <application
        android:usesCleartextTraffic="true" />

</manifest>